html,body,div,p{margin:0;padding:0;border:0;}
.dp20,.dp25,.dp33,.dp50,.dp90,.dp100{float:left;display:inline;*margin-left:-0.04em;}
.dp20{width:20%;}
.dp25{width:25%;}
.dp33{width:33.33%;}
.dp50{width:50%;}
.dp100{width:100%;}
.dp90{ width: 50%;}
.clear{clear:both;}

.main 
{  
margin:0 auto; 
width:100%; 
}